@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #dddeee;
}

h1{
    font-size: 2em;
    font-weight: bold;	
}
h2{
    font-size: 1.5em;
    font-weight: bold;	
}
h3{
    font-size: 1.17em;
    font-weight: bold;	
}
.input {
    width: calc(100% - 2em)
}
.create {
    min-height: 100px;
}